<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full gaming</title>
    <script src="https://kit.fontawesome.com/0a4608b12c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="home-header">
        <div class="home-header-superior">
            <a href="/">
            <img src="/img/logo.png" alt="logo" width="" class="home-header-logo">
            </a>

            <form action="/buscar" method="get" class="home-header-buscador">
                <input type="text" name="q" placeholder="Buscar...">
                <a href=""><i class="fa-solid fa-magnifying-glass fa-2xl"></i></a>
            </form>

            <a href="/userprofile"><i class="fa-solid fa-user"></i>
            <span>ingresá</span>
            </a>

            <a href="#"><i class="fa-regular fa-bell"></i></a>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <a href=""></a>

    </header>
    <nav class="home-nav-header">
        <ul>
            <li><a href="">pc armadas</a></li>
            <li><a href="">hardware</a></li>
            <li><a href="">notebook</a></li>
            <li><a href="">placas de video</a></li>
            <li><a href="">monitores</a></li>
            <li><a href="">sillas gamer</a></li>
            <li><a href="">accesorios</a></li>
            <li><a href="">tecnologia</a></li>
            <li><a href="">perifericos</a></li>
            <li><a href="">conectividad</a></li>
            <li><a href="">arma tu pc</a></li>
            <li><a href="">marcas</a></li>
        </ul>
    </nav>
    <main>

    </main>
    <footer>

    </footer>
    
</body>
</html>