<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full gaming</title>
    <script src="https://kit.fontawesome.com/0a4608b12c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="home-header">
        <div class="home-header-superior">
            <div class="loguito">
            <a href="/">
            <img src="/img/logo1.png" alt="logo" width="" class="home-header-logo">
            </a>

            </div>
            
                <form action="/buscar" method="get" class="home-header-buscador">
                    <input type="text" name="q" placeholder="Buscar...">
                    <a href=""></a>
                </form>
            
        <div class="fonta">
            <a href="/userprofile"><i class="fa-solid fa-user"></i>
            <span>Login</span>
            </a>

            <a href="#"><i class="fa-regular fa-bell fa-lg"></i></a>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        </div>
        <a href=""></a>

    </header>
    <nav class="home-nav-header">
        <ul>
            <li><a href="">pc armadas</a></li>
            <li><a href="">hardware</a></li>
            <li><a href="">notebook</a></li>
            <li><a href="">placas de video</a></li>
            <li><a href="">monitores</a></li>
            <li><a href="">sillas gamer</a></li>
            <li><a href="">accesorios</a></li>
            <li><a href="">tecnologia</a></li>
            <li><a href="">perifericos</a></li>
            <li><a href="">conectividad</a></li>
            <li><a href="">arma tu pc</a></li>
            <li><a href="">marcas</a></li>
        </ul>
    </nav>
    <!--nav-bar -->
    <nav class="nav-bar">
        <a href=""><i class="fa-solid fa-bars"></i></a>
        <a href=""><i class="fa-regular fa-user"></i></a>
        <div class="logo-nav">
        <a href=""> <img src="/img/logonav.png" alt=""></a>
        </div>
        <a href=""><i class="fa-regular fa-bell fa-lg"></i></a>
        <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
    </nav>

    <div class="banners">
        <img src="/img/banner1.jpg" alt="">
        <div class="contenido1">
            <h3>FOR GAMERS BY GAMERS</h3>
            <p>lo ultimo en tecnologia para que dejes de manquear</p>
        
        <button>CONOCE MAS</button>
        </div>
    </div>

    <main class="home">
            <aside class="banner-izquierdo">
                <img src="/img/banner-vertical-1.png" alt="">
            </aside>

            

        <div class="main-contenido">
        

        <section class="padre-marcas">
            <h2>NUESTRAS MARCAS</h2>
            <div class="padre-carrusel-marcas">
            <div class="carrusel-marcas">
                <a href="">
                    <img src="/img/aorus.webp" alt="">
                </a>
                <a href="">
                    <img src="/img/razer.webp" alt="">
                </a>
                <a href="">
                    <img src="/img/corsair.webp" alt="">
                </a>
                <a href="">
                    <img src="/img/logitech-logo.png" alt="">
                </a>
                <a href="">
                    <img src="/img/wd.webp" alt="">
                </a>
                <a href="">
                    <img src="/img/elgato.webp" alt="">
                </a>
                <a href="">
                    <img src="/img/amd.webp" alt="">
                </a>
                <a href="">
                    <img src="/img/intel.webp" alt="">
                </a>
            </div>
        </section>

        <section>
            <h2>PRODUCTOS DESTACADOS</h2>
            <div class="padre-articulos">
            <div class="home-main-articulos">
                <a href="">
                    <img src="/img/proceamd.png" alt="">
                    <p>microprocesador ryzen 5 5600x am4</p>
                    <p>$160.000</p>
                    <div class="mensaje-comprar">Comprar ahora</div>
                </a>
            </div>
            <div class="home-main-articulos">
                <a href="">
                    <img src="/img/auricular.png" alt="">
                    <p>auricular hyper x cloud || 7.1</p>
                    <p>$80.000</p>
                    <div class="mensaje-comprar">Comprar ahora</div>
                </a>
            </div>
            <div class="home-main-articulos">
                <a href="">
                    <img src="/img/monitor.png" alt="">
                    <p>monitor gamer lg ultragear 24"</p>
                    <p>$115.000</p>
                    <div class="mensaje-comprar">Comprar ahora</div>
                </a>
            </div>
            <div class="home-main-articulos">
                <a href="">
                    <img src="/img/notebook.png" alt="">
                    <p>notebook gigabyte g5 intel i5 11400 16gb</p>
                    <p>$690.000</p>
                    <div class="mensaje-comprar">Comprar ahora</div>
                </a>
            </div>
            <div class="home-main-articulos">
                <a href="">
                    <img src="/img/rtx.png" alt="">
                    <p>placa de video rtx 2060 6gb evga</p>
                    <p>$210.000</p>
                    <div class="mensaje-comprar">Comprar ahora</div>
                </a>
            </div>
            <div class="home-main-articulos">
                <a href="">
                    <img src="/img/gtx.png" alt="">
                    <p>placa de video gtx 1660 asus 6gb</p>
                    <p>$210.000</p>
                    <div class="mensaje-comprar">Comprar ahora</div>
                </a>
            </div>
            <div class="home-main-articulos">
                <a href="">
                    <img src="/img/rtx4000.png" alt="">
                    <p>placa de video gtx 1660 asus 6gb</p>
                    <p>$210.000</p>
                    <div class="mensaje-comprar">Comprar ahora</div>
                </a>
            </div>
            <div class="home-main-articulos">
                <a href="">
                    <img src="/img/fuente.png" alt="">
                    <p>placa de video gtx 1660 asus 6gb</p>
                    <p>$210.000</p>
                    <div class="mensaje-comprar">Comprar ahora</div>
                </a>
            </div>
            </div>
        </section>

        <div class="banner-2">
            <img src="/img/banner2.jpg" alt="">
            <div class="contenido">
            <h3>arma tu pc</h3>
            <p>con la ayuda de nuestros expertos vas a poder armar la pc de tus suenos</p>
            <button>toma mi dinero</button>
            </div>
        </div>

        <section>
            <h2>CATEGORIAS</h2>
            
            <article class="padre-carrusel">
            <div class="carrusel">

                <div class="categoria">
                    <a href="">
                    <img src="/img/public (7).webp" alt="">
                    <p>almacenamiento</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (12).webp" alt="">
                    <p>ram</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (14).webp" alt="">
                    <p>cpu</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (18).webp" alt="">
                    <p>motherboard</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (10).webp" alt="">
                    <p>cpu cooling</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (19).webp" alt="">
                    <p>mouse</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (21).webp" alt="">
                    <p>teclado</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (17).webp" alt="">
                    <p>notebook</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (13).webp" alt="">
                    <p>gabinete</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (23).webp" alt="">
                    <p>sillas gamer</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (24).webp" alt="">
                    <p>microfonos</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (11).webp" alt="">
                    <p>conectividad</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (20).webp" alt="">
                    <p>parlante</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (22).webp" alt="">
                    <p>camara web</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (9).webp" alt="">
                    <p>fuentes</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (8).webp" alt="">
                    <p>auriculares</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (15) 1.png" alt="">
                    <p>microfono</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (16).webp" alt="">
                    <p>mouse</p>
                    </a>
                </div>
            
            </div>
            </article>
            </div>
        </section>
        </div>
            
                <aside class="banner-izquierdo">
                    <img src="/img/banner-vertical2222.png" alt="">
                </aside>
            

    </main>
    <footer>

    </footer>
    
</body>
</html>