<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto</title>
</head>
<body>
    <footer>
        <div>
            <h4>ACA IRIA EL NOMBRE DE LA PAGINA</h4>
            <p>¡Tu cueva Gamer en Buenos aires! 🎮 Somos la tienda de computación mas grande de Buenos aires. Nacida con el propósito de satisfacer a todo jugador PC Gamer, 
                Equipadolos con lo último en hardware, Si lo tuyo son las PC, tenemos variedad en hardware de computadoras, notebook y periféricos como teclado, mouse, auricular y monitor. Grandes marcas nos acompañan como Asus, Corsair, Hyperx, Gigabyte, Logitech, Samsung o Redragon entre otras.</p>
        <div>
            <nav>
                <li>Calle Falsa 123, Buenos Aires, Argentina.</li>
                <li>ventas@tuvieja.com</li>
                <li>011 9213-1424</li>
                <li>Lun. a Vie. de 10 a 14hs. Volvemos de 15hs a 18:50hs. Sábados de 10 a 14hs. Los Domingos dormimos todo el día</li>
            </nav>
        </div>
        </div>
        <div>
            <h4>Información</h4>
            <nav>
                <li>Home</li>
                <li>Contactanos</li>
                <li>Mis Pedidos</li>
                <li>Armá tu PC</li>
                <li>Boton de Arrepentimiento</li>
                <li>Términos y Condiciones</li>
                <li>Garantía y Política de Devoluciones</li>
            </nav>
        </div>
        <div>
            <h4>Soporte</h4>
            <nav>
                <li>Politicas de seguridad</li>
                <li>Garantia</li>
                <li>Boton de Arrepentimiento</li>
            </nav>
            <img src="/img/logo.png" alt="logo">
        </div>
    </footer>
</body>
</html>