<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Detalle de producto</title>
</head>
<body>
    <header>
        <div>
            <a href="">Volver</a>
            <a href="">Compartir</a>
        </div>
        
    </header>
    <main class="product__main">
        <div class="product__main__box">
            <div class="product__main__box__visual">
                <div>
                    <img src="" alt="">
                </div>
                <div>
                    <h1>Pc tanto</h1>
                    <article>
                        <p>dasdasd</p>
                        <p>adasdasdas</p>
                        <p>dasdasdasdas</p>
                        <p>pdasdasdasdass</p>
                    </article>
                </div>
                <div>
                    <h2>PC GAMER</h2>
                    <div>
                        <div>
                            <p>$123.123</p>
                            <p>Con efectivo, transferencia o tarjeta de debito</p>
                        </div>
                        <div>
                            <p>o llevalo en 12 cuotas fijas de:</p>
                            <div>
                                <p>$123.123</p>
                                <div>
                                    <p>aqui van las tarjetas</p>
                                </div>
                            </div>
                            <p>Paga en 3, 12, 18 y hasta 24 CUOTAS!</p>
                        </div>
                    </div>
                    <div>
                        <form action=""></form>
                    </div>
                    <article>
                        <p>Producto con garantia</p>
                        <p>Producto con garantia</p>
                        <p>Producto con garantia</p>
                        <p>Producto con garantia</p>
                    </article>
                </div>
            </div>
            <div>
                <h3>Productos destacados</h3>
                <div>
                    <article></article>
                    <article></article>
                    <article></article>
                    <article></article>
                    <article></article>
                    <article></article>
                </div>
            </div>
            <div>
                <img src="" alt="">
            </div>
        </div>
    </main>
    <footer class="home__footer">
        <div class="home__footer__description">
            <h4>FULL GAMING</h4>
            <p>¡Tu cueva Gamer en Buenos aires! 🎮 Somos la tienda de computación mas grande de Buenos aires. Nacida con el propósito de satisfacer a todo jugador PC Gamer, 
                Equipadolos con lo último en hardware, Si lo tuyo son las PC, tenemos variedad en hardware de computadoras, notebook y periféricos como teclado, mouse, auricular y monitor. Grandes marcas nos acompañan como Asus, Corsair, Hyperx, Gigabyte, Logitech, Samsung o Redragon entre otras.</p>
        <div class="home__footer__description__nav--data">
            <nav class="home__footer__nav--data">
                <li>Calle Falsa 123, Buenos Aires, Argentina.</li>
                <li>ventas@tuvieja.com</li>
                <li>011 9213-1424</li>
                <li>Lun. a Vie. de 10 a 14hs. Volvemos de 15hs a 18:50hs. Sábados de 10 a 14hs. Los Domingos dormimos todo el día</li>
            </nav>
        </div>
        </div>
        <div class="home__footer__info__box">
            <div class="home__footer__box__info">
                <h4>Información</h4>
                <nav class="home__footer__box__nav--menu">
                    <li>Home</li>
                    <li>Contactanos</li>
                    <li>Mis Pedidos</li>
                    <li>Armá tu PC</li>
                    <li>Boton de Arrepentimiento</li>
                    <li>Términos y Condiciones</li>
                    <li>Garantía y Política de Devoluciones</li>
                </nav>
            </div>
            <div class="home__footer__box__soport">
                <h4>Soporte</h4>
                <nav class="home__footer__box__nav--soport">
                    <li>Politicas de seguridad</li>
                    <li>Garantia</li>
                    <li>Boton de Arrepentimiento</li>
                </nav>
                <div class="home__footer__box__soport--logo"><img src="/img/logo.png" alt="logo"></div>
            </div>
            <div class="home__footer__box__promos">
                <h4>PROMOS & FINANCIACION</h4>
                <nav class="home__footer__box__nav--soport">
                    <li>Ahora 12</li>
                    <li>Cyber Week</li>
                    <li>Black Friday</li>
                    <li>Sorteo</li>
                </nav>
                <div class="home__footer__box__promo--logo"><img src="/img/logo.png" alt="logo"></div>
            </div>
        </div>
    </footer>
</body>
</html>