<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0a4608b12c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Detalle de producto</title>
</head>
<body class="body_box">
    <header class="product__header">
        <div class="product__header__icons">
            <a href="/"><i class="fa-solid fa-less-than"></i></a>
            <a href="/"><i class="fa-solid fa-share-nodes"></i></a>
        </div>
        
    </header>
    <main class="product__main">
        <div class="product__main__box">
            <div class="product__main__box_producto">
                <div class="contenedor">
                    <div id="content__item">
                        <div class="product__main__box_producto__carrusel" id="item-1">
                            <div class="tarjetaCarrusel" id="tarjeta-1">
                                <img src="/img/public (13).webp" alt="">
                            </div>
                            <div class="flechasCarrusel">
                                <a href="#item-3"><i class="fa-solid fa-angle-left"></i></a>
                                <a href="#item-2"><i class="fa-solid fa-angle-right"></i></a>
                            </div>
                        </div>
                        <div class="product__main__box_producto__carrusel" id="item-2">
                            <div class="tarjetaCarrusel" id="tarjeta-2">
                                <img src="/img/public (14).webp" alt="">
                            </div>
                            <div class="flechasCarrusel">
                                <a href="#item-1"><i class="fa-solid fa-angle-left"></i></a>
                                <a href="#item-3"><i class="fa-solid fa-angle-right"></i></a>
                            </div>
                        </div>
                        <div class="product__main__box_producto__carrusel" id="item-3">
                            <div class="tarjetaCarrusel" id="tarjeta-3">
                                <img src="/img/public (12).webp" alt="">
                            </div>
                            <div class="flechasCarrusel">
                                <a href="#item-2"><i class="fa-solid fa-angle-left"></i></a>
                                <a href="#item-1"><i class="fa-solid fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div id="content__puntos">
                        <a href="#item-1"><i class="fa-solid fa-circle"></i></a>
                        <a href="#item-2"><i class="fa-solid fa-circle"></i></a>
                        <a href="#item-3"><i class="fa-solid fa-circle"></i></a>
                    </div>
                </div>
                <div class="product__main__box_producto">
                    <h1>Pc Gamer</h1>
                    <article class="product__main__box_producto__article">
                        <h2>Pc gamer amd ryzen 3 3200g a320 8gb 480gb gabinete kit</h2>
                        <div class="product__main__box_producto__article--description">
                            <div class="description"><i class="fa-solid fa-circle"></i><p>1 | PROCESADOR AMD RYZEN 5 5600G 4.4GHZ AM4</p></div>
                            <div class="description"><i class="fa-solid fa-circle"></i><p>1 | MOTHER A520M</p></div>
                            <div class="description"><i class="fa-solid fa-circle"></i><p>2 | MEMORIA 8GB 3200 MHZ</p></div>
                            <div class="description"><i class="fa-solid fa-circle"></i><p>1 | DISCO SSD 240 GB</p></div>
                            <div class="description"><i class="fa-solid fa-circle"></i><p>1 | FUENTE GENERICA</p></div>
                            <div class="description"><i class="fa-solid fa-circle"></i><p>1 | GABINETE KIT (INCLUYE TECLADO Y MOUSE)</p></div>
                        </div>
                    </article>
                </div>
                <div class="product__main__box_producto__pagos">
                    <h1>Pc gamer</h1>
                    <h2>¡Promo especial!</h2>
                    <div class="product__main__box_producto__pagos__box">
                        <div class="product__main__box_producto__pagos__box-precio">
                            <h4>$123.123</h4>
                            <p>Con efectivo, transferencia o tarjeta de debito</p>
                        </div>
                        <div class="product__main__box_producto__pagos__box-tarjetas">
                            <p>o llevalo en 12 cuotas fijas de:</p>
                            <div class="product__main__box_producto__pagos__box-tarjetas-cars">
                                <h4>$123.123</h4>
                            </div>
                            <div class="product__main__box_producto__pagos__box-tarjetas-cars-box-cuotas">
                                <p>Paga en 3, 12, 18 y hasta 24 CUOTAS!</p>
                                <div class="product__main__box_producto__pagos__box-tarjetas-cars-box">
                                    <a href=""><i class="fa-brands fa-cc-visa"></i></a>
                                    <a href=""><i class="fa-brands fa-cc-mastercard"></i></a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="product__main__carrito">
                            <div class="product__main__carrito-menos">
                                <a href="">-</a>
                            </div>
                            <div class="product__main__carrito-number">
                                <label for="number">1</label>
                            </div>
                            <div class="product__main__carrito-mas">
                                <a href="">+</a>
                            </div>
                        <div class="product__main__carrito-comprar">
                            <a href="">COMPRAR</a>
                        </div>
                    </div>
                    <article class="product__main__article">
                        <p>Armar una PC gamer con un procesador Ryzen 5 5600G ofrece varias ventajas:</p>
                        <p>Alto rendimiento: el procesador Ryzen 5 5600G tiene un diseño de 6 núcleos y 12 hilos con una velocidad de reloj base de 3,9 GHz y una velocidad de reloj aumentada de 4,4 GHz, lo que ofrece un alto rendimiento y una experiencia de juego rápida.</p>
                        <p>Gráficos integrados: el Ryzen 5 5600G viene con gráficos Radeon integrados, lo que significa que no necesita comprar una tarjeta gráfica separada para jugar en configuraciones moderadas. Esto la convierte en una opción rentable para los jugadores de bajo presupuesto que no quieren gastar dinero extra en una placa de video</p>
                        <p>En general, el Ryzen 5 5600G es una excelente opción para los jugadores que desean alto rendimiento, rentabilidad y preparación para el futuro.</p>
                    </article>
                </div>
            </div>
            <div class="product__main__otrosProductos">
                <h3>Productos destacados</h3>
                <div>
                        <div class="padre-articulos">
                        <div class="home-main-articulos">
                            <a href="">
                                <img src="/img/proceamd.png" alt="">
                                <p>microprocesador ryzen 5 5600x am4</p>
                                <p>$160.000</p>
                                <div class="mensaje-comprar">Comprar ahora</div>
                            </a>
                        </div>
                        <div class="home-main-articulos">
                            <a href="">
                                <img src="/img/auricular.png" alt="">
                                <p>auricular hyper x cloud || 7.1</p>
                                <p>$80.000</p>
                            </a>
                        </div>
                        <div class="home-main-articulos">
                            <a href="">
                                <img src="/img/monitor.png" alt="">
                                <p>monitor gamer lg ultragear 24"</p>
                                <p>$115.000</p>
                            </a>
                        </div>
                        <div class="home-main-articulos">
                            <a href="">
                                <img src="/img/notebook.png" alt="">
                                <p>notebook gigabyte g5 intel i5 11400 16gb</p>
                                <p>$690.000</p>
                            </a>
                        </div>
                        <div class="home-main-articulos">
                            <a href="">
                                <img src="/img/rtx.png" alt="">
                                <p>placa de video rtx 2060 6gb evga</p>
                                <p>$210.000</p>
                            </a>
                        </div>
                        <div class="home-main-articulos">
                            <a href="">
                                <img src="/img/gtx.png" alt="">
                                <p>placa de video gtx 1660 asus 6gb</p>
                                <p>$210.000</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner__bottom">
                <img src="img/banner1.jpg" alt="">
            </div>
        </div>
    </main>
    <footer class="home__footer">
        <div class="home__footer__description">
            <h4>FULL GAMING</h4>
            <p>¡Tu cueva Gamer en Buenos aires! 🎮 Somos la tienda de computación mas grande de Buenos aires. Nacida con el propósito de satisfacer a todo jugador PC Gamer, 
                Equipadolos con lo último en hardware, Si lo tuyo son las PC, tenemos variedad en hardware de computadoras, notebook y periféricos como teclado, mouse, auricular y monitor. Grandes marcas nos acompañan como Asus, Corsair, Hyperx, Gigabyte, Logitech, Samsung o Redragon entre otras.</p>
        <div class="home__footer__description__nav--data">
            <nav class="home__footer__nav--data">
                <li>Calle Falsa 123, Buenos Aires, Argentina.</li>
                <li>ventas@tuvieja.com</li>
                <li>011 9213-1424</li>
                <li>Lun. a Vie. de 10 a 14hs. Volvemos de 15hs a 18:50hs. Sábados de 10 a 14hs. Los Domingos dormimos todo el día</li>
            </nav>
        </div>
        </div>
        <div class="home__footer__info__box">
            <div class="home__footer__box__info">
                <h4>Información</h4>
                <nav class="home__footer__box__nav--menu">
                    <li>Home</li>
                    <li>Contactanos</li>
                    <li>Mis Pedidos</li>
                    <li>Armá tu PC</li>
                    <li>Boton de Arrepentimiento</li>
                    <li>Términos y Condiciones</li>
                    <li>Garantía y Política de Devoluciones</li>
                </nav>
            </div>
            <div class="home__footer__box__soport">
                <h4>Soporte</h4>
                <nav class="home__footer__box__nav--soport">
                    <li>Politicas de seguridad</li>
                    <li>Garantia</li>
                    <li>Boton de Arrepentimiento</li>
                </nav>
                <div class="home__footer__box__soport--logo"><img src="/img/logo.png" alt="logo"></div>
            </div>
            <div class="home__footer__box__promos">
                <h4>PROMOS & FINANCIACION</h4>
                <nav class="home__footer__box__nav--soport">
                    <li>Ahora 12</li>
                    <li>Cyber Week</li>
                    <li>Black Friday</li>
                    <li>Sorteo</li>
                </nav>
                <div class="home__footer__box__promo--logo"><img src="/img/logo.png" alt="logo"></div>
            </div>
        </div>
    </footer>
</body>
</html>