.home__footer{
    color: whitesmoke;
    background-image: url("/img/fondo.png");
    background-repeat: no-repeat;
    text-align: center;
    
    display: flex;
    padding: 5px;
    font-family: var(--tipografiageneral);
}
.home__footer h4 {
    text-transform: uppercase;
    margin: 3px;
}

.home__footer li {
    margin: 2px;
}

.home__footer__info__box{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.home__footer__box__soport--logo img{
    display: none;
}
.home__footer__box__promo--logo{
    display: none;
}

@media(min-width: 360px) {
    .home__footer__info__box{
        display: flex;
        padding: 0px;
        flex-direction: row;
    }
    .home__footer__box__soport--logo img{
        display: flex;
        width: 100%;
    }
    .home__footer__box__promos{
        display: none;
    }
    .home__footer__box__promo--logo img{
        display: flex;
        height: 200px;
    }
}
@media(min-width: 768px) {
    .home__footer{
        justify-content: space-around;
    }
    .home__footer__info__box{
        display: flex;
        flex-direction: row;
    }
    .home__footer__description{
        width: 60%;
    }
    .home__footer__box__soport--logo img{
        display: none;
    }
    .home__footer__box__promos{
        display: block;
    }
    .home__footer__box__promo--logo{
        display: flex;
    }
    .home__footer__box__promo--logo img{
        display: flex;
        height: 200px;
    }
 
}