.home__footer{
    color: whitesmoke;
    background-image: url("/img/fondo.png");
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    padding: 20px;
    font-family: var(--tipografiageneral);
}
.home__footer h4 {
    text-transform: uppercase;
    margin: 3px;
}

.home__footer li {
    margin: 2px;
}

.home__footer__info__box{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 0.5rem;
}

.home__footer__box__soport--logo img{
    display: none;
    width: 100%;
    height: 80%;
}

@media(min-width: 360px) {
    .home__footer__info__box{
        color: yellow;
        display: flex;
        flex-direction: row;
    }
    .home__footer__box__soport--logo{
        display: none;
    }
    .home__footer__box__promo--logo img{
        display: flex;
        width: 200px;
    }
}
@media(min-width: 768px) {
    .home__footer__info__box{
        color: red;
        display: flex;
        flex-direction: row;
    }
    .home__footer__box__promos{
        display: none;
    }
    .home__footer__box__promo--logo img{
        display: flex;
        width: 200px;
    }
}