/*header movil*/

.nav-bar {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
    background-image: url(/img/fondo.png);
    background-size: cover;
    background-position: center ;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    z-index: 1;
    border-radius: 30px;
    margin-bottom: 10px;
}

.nav-bar a {
    color: #ffffff;
    font-size: 20px;
}

.nav-bar a img {
    width: 100%;
}

.logo-nav {
    display: flex;
    height: 30px;
    width: 70px;
    text-align: top;
}



/*------------*/
.home-header {
    display: none;
}

.home-nav-header{
    display: none;
}

.home-header{
    background-image: url(/img/fondo.png);
    background-size: cover;
    background-position: center ;
    width: 100%;
}
.home-header-logo{
    display: flex;
    justify-content:center;
    text-align: center;
    width: 100%;
}
.loguito {
    width: 10%;
}

.home-header-superior {
    display: none;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;

}


.fonta {
    font-size: 100%;
}

.fonta a {
    margin-right: 15px;
}

.fonta .fa-bell {
    color: white;
}

.fonta .fa-user {
    color: #ffffff;
}

.fonta span {
    color: #ffffff;
}

.fonta .fa-cart-shopping {
    color: #ffffff;
}


.home-header-buscador {
    display: flex;
    position: relative;
    width: 76%;
    justify-content: center;
}

.home-header-buscador input[type="text"] {
    width: 100%;
    font-size: 20px;
    padding: 6px;
    border: none;
    border-radius: 50px;

}

/*navegacion*/
.home-nav-header {
    background-image: url(/img/fondo.png);
    background-size: cover;
    background-position: center;
    padding: 6px 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0,5);
}

.home-nav-header ul {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    gap: 10px;
}

.home-nav-header ul li a {
    font-size: 15px;
    color: #ffffff;
}

 @media (min-width: 480px){

    .nav-bar {

        display: none;
    }

    .home-header-superior {
        display: flex;
    }

    .home-nav-header ul li a {
        font-size: 8px;
        color: #ffffff;
    }

    .home-header {
        display: grid;
    }
    
    .home-nav-header{
        display: grid;
    }

    .fonta a {
        margin-right: 2px;
    }

    
 }

 @media (min-width: 1200px){

    .home-nav-header ul li a {
        font-size: 15px;
        color: #ffffff;
    }


    .fonta a {
        margin-right: 15px;
    }
 }