.home-header{
    background-image: url(/img/fondo.png);
}
.home-header-logo{
    display: flex;
    justify-content: flex-start;
    width: 10vw;
}

.home-header-superior {
    display: flex;
    justify-content: space-between;
    align-items:self-start;
    padding-top: 20px;

}
.home-header-buscador {
    display: flex;
    position: relative;
    width: 70%;
    justify-content: center;
}

.home-header-buscador input[type="text"] {
    width: 100%;
    font-size: 18px;
    padding: 15px;
}

.home-header-buscador button {
    width: 20%;
    font-size: 18px;
    padding: 10px;
}

.home-nav-header {
    background-image: url(/img/fondo.png);
    padding: 15px;
}

.home-nav-header ul li {
    display: flex;
    display: inline;
    text-transform: uppercase;
}

.home-nav-header{}